Package: ovl-website
Version: 1.0.0
Section: web
Priority: optional
Architecture: all
Essential: no
Depends: apache2
Maintainer: Bennane <votre@email.com>
Description: OVL Website
 Un exemple de site web pour démontrer comment créer un package .deb.
