Package: ovl-website
Version: 1.0.0
Section: web
Priority: optional
Architecture: all
Essential: no
Depends: apache2
Maintainer: Bennane <votre@email.com>
Description: OVL Website
 Open Vehicule Locator Website
