:root{
    --array-color: #333333;
    --hover-color: #4A90E2;
    --navbar-color: #333333;
    --violet-pastel: #282828;
    --noir-pastel: #282828;
    --blanc-pastel: #1A1A1A;
}

body{
    font-family: 'Space Grotesk', sans-serif !important;
    background-color: var(--blanc-pastel);
    color: #FFFFFF !important;
    border-color: #444444 !important;
}

input{
    color: white !important;
}

.form-label{
    color: white !important;
}

button{
    background-color: #666666 !important;
}

.navbar_modify{
    background-color: var(--noir-pastel) !important;
    --bs-navbar-color : white !important;
    --bs-navbar-hover-color : var(--navbar-color) !important;
}

.card_modify{
    background-color: var(--array-color)!important;
    border-radius: var(--bs-card-border-radius) !important;
}

.alert_test{
    position: fixed; 
    top: 60px; 
    right: 40px;
    width: auto !important;
    padding-right: 0px !important;

}

.table_modify{
    --mdb-table-bg: var(--array-color)!important;
    --bs-table-border-color: var(--blanc-pastel)!important;
    color: white !important;
    --mdb-table-border-color: white !important;}

.button_modify{
    color: white !important;
    box-shadow: none !important;
}

.button_modify:hover{
    background-color: var(--hover-color) !important;
    color: white !important;
}


.footer_modify{
    background-color: var(--noir-pastel)!important;
    --bs-secondary-color: white !important;
    color: white !important;
}


.map{
    margin: 5px;
    height: 700px;
    width: 100%;
}

.parent-container {
    display: flex !important;
 }

.container_status{
    background-color: var(--violet-pastel) !important;
    color: white !important;
}

.history{
    margin-right: 0 !important;
    margin-left: 0 !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.param{
    background-color: var(--violet-pastel) !important;
}

.my-custom-scrollbar {
    position: relative;
    height: 700px;
    overflow: auto;
    margin-bottom: 5px;
}
.table-wrapper-scroll-y {
    display: block;
}